name: Run tests
on: [push]
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    env:
      VAULT_VERSION: "1.15.6"
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Install Pebble test ACME server
      run: |
        go install github.com/letsencrypt/pebble/v2/...@main

    - name: Checkout
      uses: actions/checkout@v4

    - name: Run unit tests
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        make test

    - name: Run acceptance tests
      run: |
        curl -sLo vault.zip "https://releases.hashicorp.com/vault/$VAULT_VERSION/vault_${VAULT_VERSION}_linux_amd64.zip"
        unzip vault.zip
        sudo mv vault /usr/local/bin/vault
        make testacc
